.mas{
		font-size: 28px;
    	color: green;
    	float: left;
	}

	hr{
		border-top: 1px solid #9FB4F0 !important;
	}

	.borrar{
		color: #BF3939;
    	font-size: 22px;
    	margin-left: 14px;
	}

	.ajax{
		color: ;

	}
